@font-face {
  font-family: "Graphik";
  src: url(../fonts/Graphik-300.woff);
}
@font-face {
  font-family: "GraphikBold";
  src: url(../fonts/Graphik-500.woff);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Graphik";
}

.section-one {
  background-color: #003097;
  color: white;
}
.section-one .header {
  margin: auto;
  max-width: 1286px;
}
.section-one .header .travelperk-white-logo {
  width: 10%;
  position: absolute;
  top: 60px;
  left: 265px;
}
.section-one .header h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 80px;
  width: 50%;
  display: inline-block;
  margin-bottom: 85px;
}
.section-one .header .header-p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  width: 45%;
  display: inline-block;
  margin-bottom: 85px;
}
.section-one .header .button {
  border-radius: 5px;
  border: 0;
  width: 200px;
  height: 50px;
  margin: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.0888889px;
}
.section-one .header .button-pink {
  background-color: #dc3367;
  color: white;
}
.section-one .header .button-white {
  background-color: white;
  color: #003097;
}
.section-one .header .header-image {
  width: 50%;
  float: right;
}
.section-one .header .container {
  width: 100%;
  padding-top: 180px;
}
.section-one .header .used-by {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
.section-one .header .used-by p {
  font-size: 14px;
  line-height: 15px;
  opacity: 0.9;
}
.section-one .header .used-by img {
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}
.section-one .header .used-by .mobile-header-icons {
  display: none;
}
.section-one .header .used-by .desktop-header-icons {
  display: inline-block;
}

.section-two {
  background-color: #eff2f7;
}
.section-two div {
  margin: auto;
  max-width: 1286px;
  padding-top: 120px;
}
.section-two header {
  padding-bottom: 52px;
}
.section-two header h1 {
  font-weight: 300;
  font-size: 56px;
  line-height: 70px;
  letter-spacing: 0.35px;
  color: #003097;
}
.section-two ol {
  width: 40%;
  counter-reset: item;
  float: right;
}
.section-two ol .inner-ol {
  width: 100%;
  left: 85px;
  position: relative;
}
.section-two ol li {
  display: block;
  font-size: 26px;
  line-height: 64px;
  letter-spacing: -0.3px;
  width: 92%;
}
.section-two ol li:before {
  content: counters(item, ".") ". ";
  color: #003097;
  padding-right: 15px;
  counter-increment: item;
}
.section-two .section-two-image {
  width: 50%;
  display: inline-block;
  margin-bottom: 120px;
}

.section-three {
  background-color: #d39101;
}
.section-three div {
  margin: auto;
  max-width: 1286px;
  padding-top: 120px;
}
.section-three .image-group-one {
  display: inline-block;
  width: 49%;
}
.section-three .image-group-one img {
  width: 512px;
  height: auto;
}
.section-three .image-group-two {
  float: right;
  width: 40%;
  position: inline-block;
  left: 118px;
}
.section-three .image-group-two img {
  width: 512px;
  height: auto;
}
.section-three p {
  color: white;
}
.section-three .quote {
  padding: 35px 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.3px;
  width: 512px;
}
.section-three .author {
  font-family: GraphikBold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1px;
  padding-bottom: 5px;
}
.section-three .company {
  padding-bottom: 180px;
  font-size: 16px;
  line-height: 26px;
}

.section-four {
  background-color: #eff2f7;
}
.section-four div {
  margin: auto;
  max-width: 1286px;
  padding-top: 120px;
}
.section-four img {
  width: 100%;
  padding-bottom: 120px;
}
.section-four .customer-desktop-group {
  display: inline-block;
}
.section-four .customer-mobile-group {
  display: none;
}

.section-five {
  background-color: #058c78;
}
.section-five div {
  margin: auto;
  max-width: 1286px;
  padding-top: 120px;
}
.section-five img {
  width: 100%;
  padding-bottom: 120px;
}

footer div {
  margin: auto;
  max-width: 1286px;
  padding: 25px 0;
}
footer img {
  width: 28px;
  height: auto;
  position: relative;
  top: 10px;
}
footer p {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
footer .text-left p {
  left: 50px;
  top: -17px;
}
footer .text-left .desktop-copyright {
  display: inherit;
}
footer .text-left .mobile-copyright {
  display: none;
}
footer .text-right {
  float: right;
}
footer .text-right p {
  display: inline-block;
  top: -40px;
  padding-left: 10px;
  color: #003097;
}

.js-holder {
  margin: auto;
  max-width: 1286px;
  padding: 25px 0;
}

@media only screen and (max-width: 500px) {
  .section-one {
    background-color: #003097;
    color: white;
  }
  .section-one .header {
    margin: auto;
    max-width: 80%;
  }
  .section-one .header .travelperk-white-logo {
    width: 40%;
    position: inherit;
    padding-top: 20px;
  }
  .section-one .header h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 52px;
    width: 100%;
    display: inline-block;
    margin-bottom: 85px;
  }
  .section-one .header .header-p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    display: inline-block;
    padding-bottom: 30px;
    margin-bottom: 0px;
  }
  .section-one .header .button {
    border-radius: 5px;
    border: 0;
    width: 100%;
    height: 50px;
    margin: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.0888889px;
  }
  .section-one .header .button-pink {
    background-color: #dc3367;
    color: white;
  }
  .section-one .header .button-white {
    background-color: white;
    color: #003097;
  }
  .section-one .header .header-image {
    width: 100%;
    float: none;
    padding-bottom: 30px;
  }
  .section-one .header .container {
    width: 100%;
    padding-top: 40px;
  }
  .section-one .header .used-by {
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%;
  }
  .section-one .header .used-by p {
    font-size: 13px;
    line-height: 20px;
    opacity: 0.9;
  }
  .section-one .header .used-by img {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
  }
  .section-one .header .used-by .desktop-header-icons {
    display: none;
  }
  .section-one .header .used-by .mobile-header-icons {
    display: inline-block;
  }

  .section-two {
    background-color: #eff2f7;
  }
  .section-two div {
    margin: auto;
    max-width: 80%;
    padding-top: 40px;
  }
  .section-two header {
    padding-bottom: 52px;
  }
  .section-two header h1 {
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.35px;
    color: #003097;
  }
  .section-two ol {
    width: 100%;
    counter-reset: item;
    float: none;
    padding-bottom: 40px;
  }
  .section-two ol .inner-ol {
    width: 100%;
    left: 40px;
    position: relative;
    padding-bottom: 0px;
  }
  .section-two ol li {
    display: block;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: -0.3px;
  }
  .section-two ol li:before {
    content: counters(item, ".") ". ";
    color: #003097;
    padding-right: 15px;
    counter-increment: item;
  }
  .section-two .section-two-image {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;
  }

  .section-three {
    background-color: #d39101;
  }
  .section-three div {
    margin: auto;
    max-width: 80%;
    padding-top: 50px;
  }
  .section-three .image-group-one {
    display: inline-block;
    width: 100%;
  }
  .section-three .image-group-one img {
    width: 100%;
    height: auto;
  }
  .section-three .image-group-two {
    padding-top: 10px;
    padding-bottom: 20px;
    float: none;
    width: 100%;
    position: inherit;
    left: 0px;
  }
  .section-three .image-group-two img {
    width: 100%;
    height: auto;
  }
  .section-three p {
    color: white;
  }
  .section-three .quote {
    padding: 20px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.3px;
    width: 100%;
  }
  .section-three .author {
    font-family: GraphikBold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    padding-bottom: 2px;
  }
  .section-three .company {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
  }

  .section-four {
    background-color: #eff2f7;
  }
  .section-four div {
    margin: auto;
    max-width: 80%;
    padding-top: 50px;
  }
  .section-four img {
    width: 100%;
    padding-bottom: 60px;
  }
  .section-four .customer-desktop-group {
    display: none;
  }
  .section-four .customer-mobile-group {
    display: inline-block;
  }

  .section-five {
    background-color: #058c78;
  }
  .section-five div {
    margin: auto;
    max-width: 80%;
    padding-top: 45px;
  }
  .section-five img {
    width: 100%;
    padding-bottom: 45px;
  }

  footer div {
    margin: auto;
    max-width: 80%;
    padding: 25px 0;
  }
  footer img {
    width: 28px;
    height: auto;
    position: relative;
    top: 60px;
  }
  footer p {
    position: relative;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
  footer .text-left {
    padding-bottom: 20px;
  }
  footer .text-left p {
    left: 0px;
    top: -17px;
  }
  footer .text-left .desktop-copyright {
    display: none;
  }
  footer .text-left .mobile-copyright {
    display: inherit;
  }
  footer .text-right {
    float: none;
  }
  footer .text-right p {
    display: inline-block;
    top: -80px;
    padding-left: 0;
    padding-right: 15px;
    color: #003097;
  }
}

/*# sourceMappingURL=styles.css.map */
